$primary: #fff;
$secondary: #333;
$light: #ffffff;
$shadow: rgba(56, 56, 56, 0.4);
$dark: rgb(0, 0, 0);

html {
  font: Roboto, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
