.boxes h2 {
  text-transform: uppercase;
  margin: 50px 0 0 11%;
  text-decoration: underline;
}
.boxes {
  margin: 40px 0;
}

.boxes {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 20px;
}

.box {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 30px 0 30px 10%;
  border-radius: 50px;
  height: 80%;
}
.box img {
  float: right;
  width: 20%;
}

/* .box {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 30px 0 30px 10%;
  padding: 20px;
  border-radius: 50px;
  height: 500px;
  box-shadow: 0px 1px 5px #333;
  z-index: 1;
}

.box img {
  float: left;
  padding-right: 20px;
  max-width: 100%;
}

.box h3 {
  font-size: 50px;
  line-height: 0;
}

.box p {
  font-size: 25px;
} */

@media (max-width: 424px) {
  .box img {
    width: 50%;
  }
}
